__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.so

venv/
.env/
.env.*

*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

*.cache
*.mo

*/migrations/__pycache__/
*/migrations/*.pyc

.vscode/
.idea/

.DS_Store
Thumbs.db

htmlcov/
.tox/
.coverage
coverage.xml
.pytest_cache/

node_modules/
npm-debug.log
yarn-error.log

*.pid
docker-compose.override.yml

*.env
.env.local

dist/
build/
