{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bassly</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <header>
        <div class="topbar">
            <a href="/" class="logo">Bassly</a>
        </div>
    </header>

    <div class="auth-wrapper">
        <h1 class="auth-title">Sign Up</h1>

        <div class="auth-container">
            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}

            <form method="post">
                {% csrf_token %}

                <label>
                    Username
                    <input type="text" name="username" required>
                </label>

                <label>
                    Password
                    <input type="password" name="password" required>
                </label>

                <button type="submit">Sign in</button>
            </form>

            {% if success %}
                <div class="success">{{ success }}</div>
            {% endif %}

            <p class="switch">
                Already have an account?
                <a href="{% url 'signin' %}">Sign in</a>
            </p>
        </div>
    </div>
</body>
</html>